<h3>Buscar Usuario por Nombres</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombres</label>
      <input
        type="text"
        class="form-control"
        id="nombres"
        required
        [(ngModel)]="nombres"
        name="nombres"
      />
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Buscar</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let area of areas">
    <h4>
      {{ usuario.id }} - {{ usuario.nombres }} {{ usuario.apellido_paterno }}
      {{ usuario.apellido_materno }}{{ usuario.fecha_nacimiento
      }}{{ usuario.estado }}{{ usuario.direccion }}{{ usuario.correo }}
    </h4>
  </li>
</ul>
