<div *ngIf="area">
  <div><label>Nombre: </label> {{ organizacion.nombre }}</div>
  <div><label>Dirección: </label> {{ organizacion.direccion }}</div>
  <div><label>Teléfono: </label> {{ organizacion.telefono }}</div>
  <div><label>Descripción: </label> {{ organizacion.descripcion }}</div>

  <!-- <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Inactivo</span> -->

  <!-- <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Activo</span> -->

  <span class="button is-small btn-danger" (click)="deleteOrganizacion()"
    >Eliminar</span
  >

  <hr />
</div>
